* {
  box-sizing: border-box;
  color: #263455;
  font-family: 'Merriweather Sans', sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  background-color: rgba(214, 216, 227, 0.87);
}

h1 {
  margin-top: 0;
  font-size: 3vw;
  text-align: center;
}

h2 {
  padding: 5px;
  border-bottom: 1px solid #263455;
  font-size: 2vw;
}

h3 {
  font-size: 1.5vw;
  text-align: center;
}

h4 {
  margin: 5px 0;
  font-size: 1.2vw;
}

button {
  background: none;
  border: 2px solid #263455;
  cursor: pointer;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 2vw;
  outline-style: none;
}

.items-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0 10vw;
}

.item-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10px;
  margin: 0 20px 20px 0;
  width: 30%;
  background-color: #A0B0D4;
  box-shadow: 0px 0px 5px 0px #263455;
}

img {
  height: 15vw;
  width: 20vw;
}

.add-cart-btn:hover {
  background-color: #263455;
  color: #A0B0D4;
}

.order-history-container {
  display: flex;
  position: absolute;
  top: 20vh;
  z-index: 10;
  border: 1px solid #263455;
}

.min-order-history,
.min-cart {
  min-height: 60vh;
  order: 1;
  width: 5vw;
  background-color: #263455;
  text-align: center;
  word-wrap: break-word;
}

.slide-order-btn,
.slide-cart-btn {
  margin-bottom: 15vh;
  border: none;
  color: #A0B0D4;
  font-size: 4vw;
  word-wrap: break-word;
}

.slider-text {
  color: #A0B0D4;
}

.order-history,
.cart {
  display: none;
  padding: 15px;
  background-color: #A0B0D4;
  color: #263455;
  animation-name: slider;
  animation-duration: 0.5s;
}

@keyframes slider {
  0% {
    opacity: 0;
    width: 0;
  }

  100% {
    opacity: 1;
    width: 100%;
  }
}

.order-article,
.cart-article {
  margin-bottom: 10px;
  padding: 5px;
  background-color: rgba(254, 255, 255, 0.13);
}

.order-article p {
  font-size: 1vw;
}

.cart-total-p {
  font-size: 1.5vw;
}

.cart-container {
  display: flex;
  float: right;
  position: relative;
  border: 1px solid #263455;
  bottom: 110vh;
  z-index: 10;
}

.cart {
  order: 20;
}

.cart-item-price {
  font-size: 1vw;
}

.checkout-btn {
  border: 2px solid #263455;
  padding: 5px;
}

.checkout-btn:hover {
  background-color: #263455;
  color: #A0B0D4;
}

.checkout-btn:disabled {
  color: #DB938D;
}

.checkout-btn:disabled:hover {
  background-color: #A0B0D4;
  color: #DB938D;
}

.isActive {
  display: block;
}
